* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-y: hidden;
  overflow-x: scroll;
}

.tables {
  display: flex;
  width: 150vw;
}

td, th {
  border: 1px solid black;
  width: 500px;
}

.first {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}