* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-y: hidden;
  overflow-x: scroll;
}

#tables {
  display: flex;
}

td {
  border: 1px solid black;
}